<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Prediksi Banner-Ads</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Predict Income Banner-Ads Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="rate" placeholder="rate" required="required" />
        <input type="text" name="age" placeholder="Age" required="required" />
		<input type="text" name="daily_time" placeholder="Daily Time Spent on Site" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict Income in Month</button>
    </form>
    
   <p>Prediksi income klik banner ads adalah:<br> <br>{{ result }}</p>
  <style>
    .div2 {
     width: 500px;
     height: 100px;  
     padding: 50px;
     border: 1px solid black;}
  </style>
   </div>
   </body>

</html>
